{% load static %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'hatvp/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hatvp/css/style.css' %}">
    <title>HATVP API</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><h1>HATVP API</h1></li>
            </ul>
            <ul>
                <li><a href="">Docs</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">Get Started</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <aside>
            <h2> Under Constrution</h2>
            <p>
                Don't worry, even if our website isn't finished yet, you can take a look to the first version of the <span>API's dashbord</span> &#128170;
            </p>
            <a href="/api">Take a look</a>
        </aside>
        <aside>
            <img src="{% static 'hatvp/img/construction.svg' %}" alt="">
        </aside>
    </main>
    <footer>

    </footer>
</body>
</html>